<!DOCTYPE html>
<html>
<title>Jaewon's Library Redesign</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/51d20c5746.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libraryRedesign.css') }}">

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="/" class="w3-bar-item w3-button">HOME</a>
            <a href="/#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>
                ABOUT</a>
            <a href="/#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i>
                PORTFOLIO</a>
            <a href="/#contacts" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i>
                CONTACTS</a>
            <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"> -->
            <!-- <i class="fa fa-search"></i> -->
            </a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-dark-grey w3-hide w3-hide-large w3-hide-medium">
            <a href="/#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
            <a href="/#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
            <a href="/#contacts" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACTS</a>
            <!-- <a href="#" class="w3-bar-item w3-button">SEARCH</a> -->
        </div>
    </div>

    <div class="w3-content w3-container w3-padding-64" id="about">
        <h1 id="aboutMe">Project Overview</h1>
        <!-- <p class="w3-center"><em>Experience Architecture</em></p> -->
        <p>

            <span>My Role:</span> Create visually compelling magazines for proof of concept designs and for classroom
            projects.<br>

        </p>


    </div>

    <div class="w3-content w3-container w3-padding-64" id="about">
        <h1 id="aboutMeRoku">Deliverable</h1>
        <!-- <p class="w3-center"><em>Experience Architecture</em></p> -->
        <p>Techniques used:<br>
        <ul>
            <li>Adobe Illustrator</li>
            <li>User research</li>
            <li>Interview</li>
        </ul>
</p>
        <br>

        <h1>Gaming Magazine</h1>
        <a href="https://drive.google.com/file/d/1jSnwNokhmXNaD_kt0eHnJBn0rEItBDpb/view?usp=sharing" target="_blank">
          <h2>Link to design PDF</h2></a>
        <div id="consentImg">
            
            <img id="consentForm" src="{{ url_for('static', filename='images/halo1.PNG') }}" class="w3-round w3-image" alt="Photo of Me"><br>

            <img id="consentForm" src="{{ url_for('static', filename='images/halo3.PNG') }}" class="w3-round w3-image" alt="Photo of Me"><br>

        </div><br>

        <h1>Sports Mental Game Magazine</h1>
        <a href="https://drive.google.com/file/d/1Tw_9UgEqJbWBcjziyNMtvP-1kOE2HAQt/view?usp=sharing" download="Jaewon Lee Gaming Magazine" target="_blank"><h2>Link to design PDF</h2></a>
        <div id="consentImg">
           
            <img id="consentForm" src="{{ url_for('static', filename='images/mentalGame1.PNG') }}" class="w3-round w3-image" alt="Photo of Me"><br>

            <img id="consentForm" src="{{ url_for('static', filename='images/mentalGame2.PNG') }}" class="w3-round w3-image" alt="Photo of Me"><br>

        </div><br>
        <br>


    </div>

    <!-- Footer -->
    <footer id="footer" class="w3-right w3-padding-64 w3-opacity">

        <a href="#about" class="w3-button  w3-light-grey"><i class="fa fa-arrow-up w3-center"></i></a>

    </footer>

    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }

        // Change style of navbar on scroll
        window.onscroll = function () { myFunction() };
        function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                // navbar.className="w3-card w3-animate-top w3-dark-grey"
                navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-dark-grey";
            } else {
                navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-dark-grey", "");
            }
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>

</html>