<!DOCTYPE html>
<html>
<title>Jaewon's Roku Keyboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/51d20c5746.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rokuKeyboard.css') }}">

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
        onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="w3-bar-item w3-button">HOME</a>
      <a href="/#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
      <a href="/#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i>
        PORTFOLIO</a>
      <a href="/#contacts" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i>
        CONTACTS</a>
      <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"> -->
      <!-- <i class="fa fa-search"></i> -->
      </a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-dark-grey w3-hide w3-hide-large w3-hide-medium">
      <a href="/#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
      <a href="/#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
      <a href="/#contacts" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACTS</a>
      <!-- <a href="#" class="w3-bar-item w3-button">SEARCH</a> -->
    </div>
  </div>

  <div class="w3-content w3-container w3-padding-64" id="about">
    <h1 id="aboutMe">Project Overview</h1>
    <!-- <p class="w3-center"><em>Experience Architecture</em></p> -->
    <p>
      <span>My Role:</span> Sketching, wireframing, researching, interface design, data visualization,
      visual design, prototyping, testing, iteration<br><br>
      As a personal project, I was in charge of my own work and had to come up with a plan to involve people who had more experience in both design and engineering to complete my project. <br>
      I started off with sketching and wireframing to create high-fidelity mockups to continue iteratively and eventually created an interactive prototype to be tested internally with users at Roku. 
    </p>

  </div>

  <div class="w3-content w3-container w3-padding-64" id="about">
    <h1 id="aboutMeRoku">Video Demo</h1>
    <!-- <p class="w3-center"><em>Experience Architecture</em></p> -->
    <p>Technologies used:

      Javascript, Vue, Vuex, HTML, CSS, Visual Studio Code<br>
    <ul>
      <li>Prototyped an alternate keyboard layout for TV screens for an On-Screen keyboard using the T9 keyboard layout.
      </li>
      <li>Showcased the product at a Roku event with 80% of attendees giving positive feedback.</li>
      <li>Documented the work for all the employees and made the prototype readily available.</li>
    </ul>

    </p>

    <iframe src="https://www.youtube.com/embed/11pse7HIIV4" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

  </div>

  <!-- Footer -->
  <footer id="footer" class="w3-right w3-padding-64 w3-opacity">

    <a href="#about" class="w3-button  w3-light-grey"><i class="fa fa-arrow-up w3-center"></i></a>

  </footer>

  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

    // Change style of navbar on scroll
    window.onscroll = function () { myFunction() };
    function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        // navbar.className="w3-card w3-animate-top w3-dark-grey"
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-dark-grey";
      } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-dark-grey", "");
      }
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>